
#modal {
  overflow-y: auto;
  bottom: 0;
  left: 0;
  display: none;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s;
  z-index: 20;
}

#modal:target {
  display: block;
  pointer-events: auto;
}

#modal > div {
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  margin-top: 5vh;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#modal h1 {
  color: #333333;
  font-size: 2em;
}

#modal h2 {
  margin-top: 1.5em;
}

#modal-header {
  display: flex;
  justify-content: space-between;
}

#modal-footer {
  display: flex;
  font-size: 2em;
  justify-content: flex-start;
}

#modal-footer a {
  margin-right: 0.25em;
}

.modal-close {
  color: #000000;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

#modal_init a {
  bottom: 1vh;
  color: var(--color-text-acc);
  left: 1vw;
  position: fixed;
}

#modal_init a:hover {
  color: var(--color-text-pri);
}

#modal-theme {
  border-bottom: 0px solid var(--color-text-acc);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
